<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jinyo's Fatboy Bakery</title>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Kaushan+Script" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
      <link rel="stylesheet" href="/main.css" type="text/css">
  </head>
  <body id='body'>
    <div class="navi">
      <ul id='navi-left'>
        <li><a href="#">Signup</li>
          <li> | </li>
          <li><a href="#">Sign In</li>
      </ul>

      <span id='logo'>Jinyo's Fatboy Bakery</span>

      <ul id="navi-right">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="mini-nav">
      <ul>
        <li><a href="/cookie">COOKIES ~</a></li>
        <li><a href="/cake"> CAKES ~</a></li>
        <li><a href="/muffin"> MUFFINS</a></li>
      </ul>
    </div>

    <%= yield %>

    <footer>
      <ul>
        <a href='#'><li>Terms & Conditions |</li></a>
        <a href='#'><li> Returns & Refunds |</li></a>
        <a href='#'><li> Locations</li></a>
        <li id='copy'><strong>&copy; Stephanie Vital-Herne</strong></li>
      </ul>

    </footer>
  </body>
  <script src="app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
</html>
