<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jinyo's Fatboy Bakery</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
  </head>
  <body>
    <div class="navi">
      <ul id='navi-left'>
        <li><a href="#">Signup</li>
          <li> | </li>
          <li><a href="#">Sign In</li>
      </ul>
      <ul id="navi-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
  <script src="app.js"></script>
</html>
