/* WHOLE SITE */
html{
  font-family: sans-serif;
}

body{
  background-image: url('/images/blue.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
}
.blur {
  filter: blur(5px);
}
.gray {
  filter: grayscale(100%);
}
/* ================== */
/* NAVIGATION */
span{
  font-family: 'Kaushan Script', cursive;
  position: relative;
  left: 10%;
  font-size: 3em;
  top: 40%;
  text-shadow: 0 0 3px #000;
}

.navi{
top: 0;
right: 0;
left: 0;
display: block;
margin: 0;
width: 100%;
height: 68px;
background: rgba(0,0,0,0.2);
font-size: 17px;
text-align: left;
position: fixed;
font-weight: lighter;
}

.navi #navi-left{
  float: left;
  display: inline;
  list-style-type: none;
  display: flex;
  float: left;
  margin-left: 10%;
  margin-top: 2%;
  text-shadow: 0 0 2px #eee;
}

#navi-left li{
  padding-right: 5px;
}

.navi #navi-right{
  margin-right: 12%;
  float: right;
  margin-top: 2%;
  text-shadow: 0 0 2px #eee;
}

 #navi-right li{
  list-style-type: none;
  display: flex;
  float: left;
  padding-right: 30px;
}
/* =============================== */
/* HEAD SECTION*/
img{
  max-width: 100%;
  background-repeat: no-repeat;
}

.grid{
  display: grid;
  grid-template: 100% / 50% 50%;
  position: absolute;
  top: 33%;
}

#mainImg{
  position: relative;
  bottom: 75%;
  left: 82%;
}

#mainImg img{
  width: 75%;
  position: relative;
  /* left: 10%; */
}
/* ========================== */
/* BIO */
.button{
  position: relative;
  top: 3%;
  left: 25%;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  border: none;
}

#bio-text{
  text-align: center;
  width: 50%;
  position: relative;
  bottom: 48%;
  left: 20%;
}

#bio-text p{
  position: relative;
  left: 25%;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

#pretty-text img{
  background-size: cover;
  width: 75%;
  position: relative;
  bottom: 10%;
  left: 20%;
}
/* ============= */
/* GOODS DISPLAY */
.row-hidden{
  display: none;
}

.row-reveal{
  display: grid;
  grid-template: 100% / 33vh 33vh 33vh;
  position: relative;
  grid-gap: 5%;
  margin-top: -10%;
  right: 60%;
}

.column a img{
  border-radius: 50%;
}

.effect:hover{
  opacity: 0.5;
}

.product-word{
  position: relative;
  bottom: -80%;
  background: rgba(0, 17, 0, 0.5);
  text-align: center;
}

/* ============================ */
/* PRODUCT */
.row{
  max-width: 90%;
  left: 5%;
}

.product{
  position: relative;
  top: 17%;
  margin-right: 0;
}

.product img{
border-radius: 50%;
}
/* ============================= */
/* CONTACT */
.contact{
  position: relative;
  top: 20%;
}

.two{
  max-width: 90%;
}

#events{
max-width: 90%;
}
/* ================ */
/* FOOTER */
footer{
  position: fixed;
  bottom: 0;
}

footer li{
  display: inline;
}
/* ======================== */
